@{
    ViewData["Title"] = "Create";
}
@model Category
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">New Category</h4>
                <p class="card-description">
                    Create a new category
                </p>
                <form class="forms-sample" method="post" action="create">
                    <div class="form-group">
                        <label asp-for="Name">Category Name</label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Category Name">
                        <span class="text text-danger" asp-validation-for="Name"></span>
                    </div>
                    <button type="submit" class="btn btn-primary me-2" asp-area="Admin" asp-controller="Category" asp-action="Create">Add</button>
                    <a onclick="javascript:window.history.back();" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
